.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex: 1;
  padding: 2rem 0;
}
.main-content{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.main-content .content-card{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  padding: 5px;
}

.h2 {
  margin: 20px 0;
  color: #333;
  border-bottom: 2px solid #0056b3;
  padding-bottom: 10px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f7f7f7;
}

.header {
  background-color: #0056b3;
  color: white;
  padding: 1rem 0;
}

.header h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-left: 30px;
}

.header p {
  margin-left: 30px;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}

.travel-card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 300px;
  height: 100%;
  background-color: white;
  transition: transform 0.3s ease;
}

#card-text-container{
  margin-left: 15px;
  padding: 5px
}
#card-text {
  color:aquamarine;
}

#rating-stars{
  color:gold;
}

.addform{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-color: black;
  gap: 20px;
}

.addform h2{
  color: #0056b3;
}
.addform input {
  width: 90%;
}

.addform textarea{
  width: 90%;
  height: 150px;
}

.submit-trv-btn{
  width: 100px;
  height: 30px;
  border-radius: 5px;
  color: aliceblue;
  border: #0056b3;
  background-color: #0056b3;
  cursor: pointer;
}