.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f7f7f7;
}

.main-content {
  margin: 20px 10px 0 20px;
  padding: 2rem 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  max-height: 700px; /* 원하는 최대 높이 지정 */
  overflow-y: auto;  /* 세로 방향으로 내용이 넘치면 스크롤 생성 */

}
.main-content h2 {
  margin: 0 0 20px 0;
  color: #333;
  margin-left: 30px;
  padding-bottom: 10px;
}

.main-content h2 span {
  border-bottom: 2px solid #0056b3;
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  place-items: center;
  margin-left: 30px;
  border-radius: 5px;
  border-color: #333;
}

.header {
  background-color: #0056b3;
  color: white;
  padding: 1rem 0;
}

.header h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-left: 30px;
}

.header p {
  margin-left: 30px;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}

.card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  width: 300px;
  min-height: 400px;
  background-color: white;
  transition: transform 0.3s ease;
}


#card-title {
  color:aquamarine;
  margin: 0px;
  padding-left: 10px
}

#rating-stars{
  color:gold;
  margin-bottom: 5px;
  padding-left: 10px
}

#card-text{
  padding: 10px;
}


.addform{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 10px 0 20px;
  padding: 2rem 0;
  border-color: black;
  gap: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.addform h2{
  color: #0056b3;
}
.addform input {
  width: 90%;
  height: 30px;
}

.addform textarea{
  width: 90%;
  height: 150px;
}

.submit-trv-btn{
  width: 100px;
  height: 30px;
  border-radius: 5px;
  color: aliceblue;
  border: #0056b3;
  background-color: #0056b3;
  cursor: pointer;
}
